<div class="customer reset-password flex flex-col mx-auto w-full lg:max-w-[588px] pt-[32px] lg:pt-[164px] pb-[32px] lg:pb-[164px] px-[16px] lg:px-[32px]">
  <h2 class="account__reset--title mx-auto mb-4 h4 text-center">Reset Password</h2>

  <div class="form-container">
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class="error-message py-4 bg-[#D12727] text-white b3 px-4 mb-4" role="alert">
          <p>{{ 'templates.contact.form.error_heading' | t }}</p>
          <ul class="list-disc pl-4">
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="floating-input mb-4">
        <input
          class="w-full p-2 tracking-[0.35rem]"
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          placeholder=" "
        >
        <label for="password">
          {{ 'customer.reset_password.password' | t }}
        </label>
      </div>

      <div class="floating-input mb-4">
        <input
          class="w-full p-2 tracking-[0.35rem]"
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          placeholder=" "
        >
        <label for="password_confirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
      </div>

      <button class="btn-dark w-full">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

