<div class="color-{{ section.settings.color_schema }}"
{% if section.settings.image %} style="background-size: cover; background-image: url('{{ section.settings.image | image_url: width:section.settings.image.width }}')" {% endif %}>
    <div class="password__landing {{ section.settings.container_type }} mx-auto h-screen flex flex-col justify-center items-center">
        <header role="banner" class="mb-4">

            <div class="flex flex-col justify-center items-center">
                {% if section.settings.show_shop_logo %}
                    {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                    {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                    {{
                    settings.logo
                    | image_url: width: 500
                    | image_tag:
                    class: 'password-logo',
                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                    width: settings.logo_width,
                    height: logo_height,
                    alt: logo_alt
                    }}
                {% endif %}

                <div class="flex flex-row items-center gap-2">

                    {% if section.settings.show_shop_name %}
                        <h1 class="h2">
                            {% if section.settings.shop_name %}
                                {{ section.settings.shop_name }}
                            {% else %}
                                {{ shop.name }}
                            {% endif %}
                        </h1>
                    {% endif %}
                </div>
            </div>
        </header>

        {% if section.settings.prompt_text != blank %}
            <h3 class="mb-4">{{ section.settings.prompt_text }}</h3>
        {% endif %}

        {% form 'storefront_password', class: 'mb-4 space-y-4' %}
            {{ form.errors | default_errors }}
            <div class="field flex flex-col flex-auto space-y-4">
                <label class="b2" for="password">{{ section.settings.password_prompt }}</label>
                <input class="indent-2 p-2" type="password" name="password" id="Password" placeholder="Password" />
            </div>

            <div class="w-full items-center justify-center flex">
                <button type="submit" name="commit" class="button button-{{ section.settings.button_style }} w-full">
                    {{ 'general.password_page.login_form_submit' | t }}
                </button>
            </div>
        {% endform %}

        <footer class="flex flex-col my-4 gap-y-[8px] justify-center items-center">
            <p class="b2">{{ 'general.password_page.admin_link_html' | t }}</p>
            <p class="b3">&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</p>
        </footer>
    </div>
</div>
{% schema %}
{
  "name": "Password Content",
  "class": "section-main-password",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Render settings"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "Color scheme",
      "info": "Select the color scheme for the password page."
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Use container width"
        },
        {
          "value": "w-full",
          "label": "Use full width"
        }
      ],
      "info": "Choose the width type of the container."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image",
      "info": "Select a background image for the password page."
    },
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "text",
      "id": "prompt_text",
      "label": "Prompt Text",
      "info": "Set the text to prompt visitors for a password."
    },
    {
      "type": "checkbox",
      "id": "show_shop_logo",
      "label": "Show shop logo",
      "info": "Enable this option to display your shop's logo on the password page."
    },
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name",
      "info": "Enable this option to display your shop's name on the password page."
    },
    {
      "type": "text",
      "id": "shop_name",
      "label": "Shop Name",
      "info": "Specify a custom shop name to display. If left blank, it will fallback to the default shop name."
    },
    {
      "type": "text",
      "id": "password_prompt",
      "label": "Password Prompt",
      "default": "Enter Store Using Password",
      "info": "Customize the prompt text for entering the password."
    },
    {
      "type": "text",
      "id": "button_style",
      "label": "Button Style",
      "default": "primary",
      "info": "Define the style class for the button, such as 'primary'."
    }
  ]
}
{% endschema %}
