<div
  class="{{ section.settings.container_type }}
  my-[{{ section.settings.margin_top_bottom_mobile }}px]
  lg:my-[{{ section.settings.margin_top_bottom_desktop }}px]"
>
  <div
    class="section-image-hot-spot-{{ section.id }}
    color-{{ section.settings.color_schema }}
    {{ section.settings.border_radius }}"
    x-data="section({{ section.settings | json | escape }})"
    :class="classes"
  >
    <div class="w-full react-node">
      {% include 'react-props' %}
      <div id="react-data" data-injected-props='{{ data }}'></div>
      {% render 'react-block', name: "theme__image-hot-spot", props: data %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image Hot Spot",
  "tag": "section",
  "class": "image-hot-spot",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "hotspot_block",
      "name": "Hotspot Block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "hotspot_x",
          "label": "Hotspot X Position (%)",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 1
        },
        {
          "type": "range",
          "id": "hotspot_y",
          "label": "Hotspot Y Position (%)",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 1
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Image Hot Spot"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Something about ages"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Use container width"
        },
        {
          "value": "w-full",
          "label": "Use full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "border_radius",
      "label": "Border Radius",
      "default": "rounded-none",
      "options": [
        {
          "value": "rounded-none",
          "label": "No Radius"
        },
        {
          "value": "rounded-sm",
          "label": "Small Radius"
        },
        {
          "value": "rounded",
          "label": "Medium Radius"
        },
        {
          "value": "rounded-lg",
          "label": "Large Radius"
        },
        {
          "value": "rounded-xl",
          "label": "Extra Large Radius"
        },
        {
          "value": "rounded-full",
          "label": "Full Radius"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding & Margin settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_bottom_desktop",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Margin Top & Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_bottom_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Margin Top & Bottom Mobile",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Image Hot Spot",
      "category": "Custom",
      "settings": {
        "title": "Image Hot Spot",
        "subheading": "Something about ages"
      }
    }
  ]
}
{% endschema %}
