<div
  class="section-tabbed-with-image-{{ section.id }}
  color-{{ section.settings.color_schema }}"
  :class="classes"
  x-data="section({{ section.settings | json | escape }})"
>
  <div class="{{ section.settings.container_type }}">
    <div class="w-full react-node">
    {% include 'react-props' %}
    <div id="react-data" data-injected-props='{{ data }}'></div>
      {% render 'react-block', name: "theme__tabbed-with-image", props: data %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tabbed With Image",
  "tag": "section",
  "class": "tabbed-with-image-block",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "tab_block",
      "name": "Tab Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "About Us"
        },
        {
          "type": "text",
          "id": "title_style",
          "label": "Title Style",
          "default": "b1"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "description_style",
          "label": "Description Style",
          "default": "b2"
        },
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Featured Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Use container width"
        },
        {
          "value": "w-full",
          "label": "Use full width"
        }
      ]
    },

    {
      "type": "header",
      "content": "Padding & Alignment settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Mobile",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_alignment_desktop",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content Alignment Desktop"
    },
    {
      "type": "select",
      "id": "content_alignment_mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content Alignment Mobile"
    },
    {
      "type": "select",
      "id": "content_position_desktop",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "label": "Content Position Desktop"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "options": [
        {
          "value": "start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "label": "Content Position Mobile"
    },
    {
      "type": "header",
      "content": "CLS / Performance"
    },
    {
      "type": "number",
      "id": "desktop_min_height",
      "label": "Min height (Desktop)",
      "default": 0,
      "info": "Set a minimum height for the section. This can help prevent layout shifts when the content loads."
    },
    {
      "type": "number",
      "id": "mobile_min_height",
      "label": "Min height (Mobile)",
      "default": 0,
      "info": "Set a minimum height for the section. This can help prevent layout shifts when the content loads."
    }
  ],
  "presets": [
    {
      "name": "Tabbed With Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
