<div class="{{ section.settings.custom_column_class }}">
  <div
    class="section-accordions-{{ section.id }} color-{{ section.settings.color_schema }} relative"
    x-data="section({{ section.settings | json | escape }})"
    :class="classes"
  >
    <div class="flex flex-col w-full lg:max-w-[{{ section.settings.content_width }}] {{ section.settings.container_type }} relative">
        <section class="faq-section p-6">
        <h2 class="text-2xl font-bold mb-4 {{  section.settings.heading_type }}">{{ section.settings.heading }}</h2>
        <p class="mb-6 {{  section.settings.subheading_type }}">
            {{ section.settings.subheading | link_to: section.settings.contact_us_url, 'Contact Us' }}
        </p>
        <div class="faq-accordion">
            {% for block in section.blocks %}
            <div class="faq-accordion-item border-b border-gray-300 mb-4">
                <div class="faq-accordion-header flex justify-between items-center cursor-pointer py-4">
                  <h3 class="text-lg font-semibold {{ section.settings.title_class }}">{{ block.settings.accordion_title }}</h3>
                  <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </div>
                <div class="faq-accordion-content hidden py-4 {{ block.settings.content_class }}">
                  {{ block.settings.accordion_content }}
                </div>
            </div>
            {% endfor %}
        </div>
        </section>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const accordionHeaders = document.querySelectorAll('.faq-accordion-header');
    accordionHeaders.forEach(header => {
      header.addEventListener('click', function() {
        const content = this.nextElementSibling;
        content.classList.toggle('hidden');
        const icon = this.querySelector('svg');
        icon.classList.toggle('rotate-180');
      });
    });
  });
</script>

{% schema %}
{
  "name": "FAQ Section",
  "settings": [
  {
        "type": "header",
        "content": "Rendering settings"
        },
        {
          "type": "select",
          "id": "render_type",
          "options": [
            {
              "value": "all",
              "label": "All"
            },
            {
              "value": "mobile-only",
              "label": "Mobile Only"
            },
            {
              "value": "desktop-only",
              "label": "Desktop Only"
            }
          ],
          "default": "all",
          "label": "Render Type",
          "info": "This will display this block based on Desktop, Mobile or both."
        },
        {
          "type": "select",
          "id": "container_type",
          "label": "Container type",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Use container width"
            },
            {
              "value": "w-full",
              "label": "Use full width"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "color_schema",
          "label": "Color scheme"
        },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "text",
      "id": "heading_type",
      "label": "Heading Type",
      "default": "h3"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Section Subheading",
      "default": "Lorem ipsum, if you have any further questions, please Contact Us"
    },
    {
      "type": "text",
      "id": "subheading_type",
      "label": "Sub Heading Type",
      "default": "b2"
    },
    {
      "type": "url",
      "id": "contact_us_url",
      "label": "Contact Us URL"
    },
    {
      "type": "header",
      "content": "Padding & Alignment settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left & Right Mobile",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_alignment_desktop",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content Alignment Desktop"
    },
    {
      "type": "select",
      "id": "content_alignment_mobile",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content Alignment Mobile"
    },
    {
      "type": "select",
      "id": "content_position_desktop",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content Position Desktop"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "accordion_title",
          "label": "Accordion Title",
          "default": "Question 1"
        },
        {
          "type": "richtext",
          "id": "accordion_content",
          "label": "Accordion Content",
          "default": "<p>Answer to the question</p>"
        },
        {
          "type": "text",
          "id": "title_class",
          "label": "Title Custom Class",
          "default": "h3"
        },
        {
          "type": "text",
          "id": "content_class",
          "label": "Content Custom Class",
          "default": "b2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordions",
      "category": "Custom"
    }
  ]
}
{% endschema %}
