
{% if customer %}
    {% assign customer_name = customer.name | default: customer.email %}
    {% assign initials = customer_name | slice: 0, 1 | upcase  %}
{% else %}
    {% assign initials = "A" %}
{% endif %}

<div class="account-menu max-lg:border-b max-lg:border-black">
    <nav x-cloak x-data="{ open: false }" class="w-full max-lg:px-4">
        <!-- Mobile Header -->
        <div
            class="mobile-account-menu block lg:hidden"
            :class="{'is-open': open}"
        >
            <div
                class="mobile-account-menu__select flex items-center justify-between pl-2 pr-4 py-[3px] bg-white border border-black rounded-full"
                @click="open = !open"
            >
                <div class="flex items-center gap-x-[8px]">
                    <div class="p-[5px]">
                        <div class="flex items-center justify-center w-[24px] h-[24px] rounded-full bg-[#99FF99] text-black b2__semibold">
                        {{ initials }}
                        </div>
                    </div>

                    <div>
                        <span class="text-[10px] font-medium">MY ACCOUNT</span><br>
                        {% for link in linklists[settings.main_account_menu].links %}
                            {% assign active_link = false %}

                            {% if template.suffix %}
                                {% capture param %}?view={{ template.suffix }}{% endcapture %}
                                {% if link.url contains param %}
                                    {% assign active_link = true %}
                                {% endif %}
                            {% else %}
                                {% if link.active %}
                                    {% assign active_link = true %}
                                {% endif %}
                            {% endif %}

                            {% if link.url == "/account" %}
                                {% if template.suffix == "personal-details" or template.suffix == "addresses" %}
                                    {% assign active_link = true %}
                                {% endif %}
                            {% endif %}

                            {% if active_link %}
                                {% assign active_link_title = link.title %}
                            {% endif %}
                        {% endfor %}

                        {% if active_link_title %}
                            <span class="text-sm font-medium">{{ active_link_title }}</span>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <div>
                        <i x-show="!open" class="text-2xl icon icon-caret-down-thin"></i>
                        <i x-show="open" class="text-2xl icon icon-caret-up-thin"></i>
                    </div>
                </div>
            </div>

            <!-- Mobile Dropdown -->
            <div x-show="open" x-cloak class="mobile-account-menu__list p-[16px] bg-white border border-black rounded-b-xl border-t-0">
                <ul role="menu" class="space-y-[8px] ml-[30px]">
                    {% for link in linklists[settings.main_account_menu].links %}
                        <li role="none" class="sidebar-menu__link">
                            <a role="menuitem" href="{{ link.url }}" class="text-sm">
                                {{ link.title | escape }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="/account/logout"  x-show="open" class="button button-tertiary mt-[16px]">
                Log out
            </a>
        </div>

        <!-- Desktop Sidebar -->
        <div class="hidden lg:block">
            <div class="mb-[8px] b2__semibold">
                <div class="flex items-center px-[8px] gap-x-[8px] py-[3px]">
                    <div class="p-[5px]">
                        <div class="flex items-center justify-center w-[24px] h-[24px] rounded-full bg-[#99FF99] text-black b2__semibold">
                            {{ initials }}
                        </div>
                    </div>
                    <span class="b3 font-medium">My Account</span>
                </div>
            </div>

            <ul
                id="accountMenu"
                role="menu"
                class="account-menu__list lg:ml-[40px]"

            >
                {% for link in linklists[settings.main_account_menu].links %}

                    {% if link.title contains '| HEADER' %}
                        <div class="sidebar-menu__title bc">{{ link.title | remove: ' | HEADER' }}</div>
                    {% else %}

                    {% assign active_link = false %}

                    {% if template.suffix %}
                        {% capture param %}?view={{ template.suffix }}{% endcapture %}
                        {% if link.url contains param %}
                            {% assign active_link = true %}
                        {% endif %}
                    {% else %}
                        {% if link.active %}
                            {% assign active_link = true %}
                        {% endif %}
                    {% endif %}

                    {% if link.url contains "?view=orders" and request.path contains "/account/orders/" %}
                        {% assign active_link = true %}
                    {% endif %}

                    {% if link.url == "/account" %}
                        {% if template.suffix == "personal-details" or template.suffix == "addresses" %}
                            {% assign active_link = true %}
                        {% endif %}
                    {% endif %}

                        <li role="none" class="sidebar-menu__link mb-3 flex items-center max-w-max">
                            <a
                                role="menuitem"
                                href="{{ link.url }}"
                                class="b2 {{ active_link | default: false | json | replace: 'true', 'underline' }}"
                                data-link-title="{{ link.title | escape }}"
                            >
                                {{ link.title | escape }}
                            </a>
                            {% if active_link %}
                                <i class="icon-ur-arrow ml-2"></i>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <a href="/account/logout" class="button button-tertiary ml-[40px] mt-[24px] max-h-8 min-w-[150px]">
                {{ 'customer.log_out' | t }}
            </a>
        </div>

    </nav>
</div>
