<div
    x-cloak
    x-data="addresses"
    class="account-details__addresses account-content-area space-y-[16px] max-lg:px-4 account-forms"
>
    {% for address in customer.addresses %}
        <div
            class="account-details__address account__tile relative b2 flex flex-col lg:flex-row justify-between items-center"
            x-show="!addressToggles[{{ forloop.index0 }}]"
        >
            <div class="flex flex-col self-start space-y-[16px]">
                <p class="b2">
                    Address {{ forloop.index }}
                    {% if address == customer.default_address %}
                        ({{ 'customer.addresses.default' | t }})
                    {% endif %}
                </p>

                {{ address | format_address }}
            </div>

            <div class="lg:relative flex flex-col gap-y-4 w-full lg:w-auto">
                <button
                        @click="toggleEditAddressForm({{ forloop.index0 }})"
                        class="button-tertiary max-lg:w-full mt-4 lg:mt-0">Edit Address
                </button>
                <form @submit="deleteAddress" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="button-tertiary w-full">
                        {{ 'customer.addresses.delete' | t }}
                    </button>
                </form>
            </div>
        </div>

        <div
            class="account__tile max-w-[448px]"
            x-show="addressToggles[{{ forloop.index0 }}]"
        >
            <p class="text-lg mb-6">Edit address</p>

            {% form 'customer_address', address %}
                <div
                    x-data="address"
                    class="flex flex-col w-full form-{{ form.id }} gap-[47px]"
                    x-init="initialiseAddress('{{ form.id }}')"
                    data-address
                >
                    <div class="floating-input">
                        <select
                            id="AddressCountry_{{ form.id }}"
                            name="address[country]"
                            data-address-country-select
                            class="address-country-option w-full p-2"
                            data-default="{{ form.country }}"
                            data-form-id="{{ form.id }}"
                        >
                            {{ country_option_tags }}
                        </select>
                        <label for="AddressCountry_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.country' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressFirstName_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[first_name]"
                            placeholder=" "
                            value="{{ form.first_name }}"
                        >
                        <label for="AddressFirstName_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.first_name' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressLastName_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[last_name]"
                            placeholder=" "
                            value="{{ form.last_name }}"
                        >
                        <label for="AddressLastName_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.last_name' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressAddress1_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[address1]"
                            placeholder=" "
                            value="{{ form.address1 }}"
                        >
                        <label for="AddressAddress1_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.address1' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressAddress2_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[address2]"
                            placeholder=" "
                            value="{{ form.address2 }}"
                        >
                        <label for="AddressAddress2_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.address2' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressCity_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[city]"
                            placeholder=" "
                            value="{{ form.city }}"
                        >
                        <label for="AddressCity_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.city' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <select
                            id="AddressProvince_{{ form.id }}"
                            name="address[province]"
                            class="w-full p-2"
                            data-default="{{ form.province }}"
                        >
                        </select>
                        <label for="AddressProvince_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.province' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressZip_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[zip]"
                            placeholder=" "
                            value="{{ form.zip }}"
                        >
                        <label for="AddressZip_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.zip' | t }}</label>
                    </div>

                    <div class="floating-input">
                        <input
                            id="AddressCompany_{{ form.id }}"
                            class="w-full p-2"
                            type="text"
                            name="address[company]"
                            placeholder=" "
                            value="{{ form.company }}"
                        >
                        <label for="AddressCompany_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.company' | t }}</label>
                    </div>

                    <div class="floating-input lg:mb-10">
                        <input
                            id="AddressPhone_{{ form.id }}"
                            class="w-full p-2"
                            type="tel"
                            name="address[phone]"
                            placeholder=" "
                            value="{{ form.phone }}"
                        >
                        <label for="AddressPhone_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.phone' | t }}</label>
                    </div>

                    {% unless address == customer.default_address %}
                        <div class="flex items-center gap-x-3 mb-7">
                            <div class="checkbox-field">
                                {{ form.set_as_default_checkbox }}

                                <label for="address_default_address_{{ form.id }}">
                                    {{ 'customer.addresses.set_default' | t }}
                                </label>
                            </div>
                        </div>
                    {% endunless %}

                    <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-5 w-full lg:w-auto">
                        <button
                            @click.prevent="toggleEditAddressForm({{ forloop.index0 }})"
                            class="button button-tertiary w-full lg:max-w-[192px]"
                        >
                            Cancel
                        </button>
                        <button
                            {% comment %} @click="toggleEditAddressForm('{{ address.id }}')" {% endcomment %}
                            type="submit"
                            class="button button-primary w-full lg:max-w-[192px]"
                        >
                            Save
                        </button>
                    </div>
                </div>
            {% endform %}
        </div>
    {% endfor %}

    <button
        @click="toggleNewAddressForm()"
        class="button-primary"
    >
        Add Address
    </button>

    <div
        class="account__tile max-w-[448px]"
        id="new-address"
        x-show="isNewAddressFormShown"
    >
        <p class="text-lg mb-6">Add a new address</p>

        {% form 'customer_address', customer.new_address, class: 'flex flex-col w-full' %}
            <div
                class="flex flex-col w-full form-{{ form.id }} gap-[47px]"
                x-data="address"
                data-customer-addresses
                data-address
                x-init="initialiseAddress('{{ form.id }}')"
            >
                <div class="floating-input">
                    <select
                        id="AddressCountry_{{ form.id }}"
                        name="address[country]"
                        class="address-country-option w-full p-2"
                        data-default="{% if settings.default_address_country -%} {{- settings.default_address_country -}} {%- else -%} {{- form.country -}} {%- endif %}"
                        data-form-id="{{ form.id }}"
                        data-address-country-select
                    >
                        {{ country_option_tags }}
                    </select>
                    <label for="AddressCountry_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.country' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressFirstName_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[first_name]"
                        placeholder=" "
                        value="{{ form.first_name }}"
                    >
                    <label for="AddressFirstName_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.first_name' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressLastName_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[last_name]"
                        placeholder=" "
                        value="{{ form.last_name }}"
                    >
                    <label for="AddressLastName_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.last_name' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressAddress1_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[address1]"
                        placeholder=" "
                        value="{{ form.address1 }}"
                    >
                    <label for="AddressAddress1_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.address1' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressAddress2_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[address2]"
                        placeholder=" "
                        value="{{ form.address2 }}"
                    >
                    <label for="AddressAddress2_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.address2' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressCity_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[city]"
                        placeholder=" "
                        value="{{ form.city }}"
                    >
                    <label for="AddressCity_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.city' | t }}</label>
                </div>

                <div class="floating-input">
                    <select
                        id="AddressProvince_{{ form.id }}"
                        name="address[province]"
                        class="w-full p-2"
                        data-default="{{ form.province }}"
                    >
                    </select>
                    <label for="AddressProvince_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.province' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressZip_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[zip]"
                        placeholder=" "
                        value="{{ form.zip }}"
                        required
                    >
                    <label for="AddressZip_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.zip' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressCompany_{{ form.id }}"
                        class="w-full p-2"
                        type="text"
                        name="address[company]"
                        placeholder=" "
                        value="{{ form.company }}"
                    >
                    <label for="AddressCompany_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.company' | t }}</label>
                </div>

                <div class="floating-input">
                    <input
                        id="AddressPhone_{{ form.id }}"
                        class="w-full p-2"
                        type="tel"
                        name="address[phone]"
                        placeholder=" "
                        value="{{ form.phone }}"
                    >
                    <label for="AddressPhone_{{ form.id }}" class="visually-hidden">{{ 'customer.addresses.phone' | t }}</label>
                </div>

                <div class="flex items-center gap-x-3 mb-7">
                    <div class="checkbox-field">
                        {{ form.set_as_default_checkbox }}

                        <label for="address_default_address_{{ form.id }}">
                            {{ 'customer.addresses.set_default' | t }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-3 lg:gap-5">
                <button
                    @click="toggleNewAddressForm()"
                    class="button button-tertiary w-full lg:max-w-[280px]"
                >
                    Cancel
                </button>
                <button
                    {% comment %} @click="toggleEditAddressForm('{{ address.id }}')" {% endcomment %}
                    type="submit"
                    class="button button-primary w-full lg:max-w-[280px]"
                >
                    Save
                </button>
            </div>
        {% endform %}
    </div>
</div>

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>
