<div class="account-forgotpassword-inner shell flex flex-col w-full lg:max-w-[{{ section.settings.content_width }}px] mx-auto" x-show="showPasswordReset">
    <div class="account-reset-password-inner shell flex flex-col mx-auto w-full space-y-[48px]">
        <h2 class="account__reset--title mx-auto {{ section.settings.heading_font_class }}">
            {{ 'customer.recover_password.title' | t }}
        </h2>
        <div class="form-container flex flex-col space-y-[40px] lg:space-y-[48px]">
            {% form 'recover_customer_password' %}
             <div class="forgotpassword-form__container-form flex flex-col w-full space-y-[40px] lg:space-y-[48px]">
                <div class="forgotpassword-form__inputs flex flex-col gap-y-[24px]">
                    {% assign recover_success = form.posted_successfully? %}
                    {{ form.errors | default_errors }}

                    <div class="email floating-input">
                        <input class="w-full p-2" type="email" name="email" placeholder="Email@email.com">
                        <label for="email">{{ 'customer.recover_password.email' | t }}</label>
                    </div>
                </div>

                <div class="forgotpassword-form__container-buttons">
                    <div class="submit">
                        <button class="button-tertiary w-full" type="submit">
                            {{ 'customer.recover_password.submit' | t }}
                        </button>
                    </div>
                </div>
             </div>
            {% endform %}

            <div class="login-form__actions text-center flex flex-col items-center justify-center space-y-[8px] lg:space-y-[12px]">
                <button class="button-text hover:underline" @click="showPasswordReset = false">
                    {{ 'customer.recover_password.cancel' | t }}
                </button>
            </div>
        </div>
    </div>
</div>
