{% capture data %}
    {
        "settings": {{ block.settings | json }},
        "article": {
            "title": "{{ article.title | escape }}",
            "handle": "{{ article.handle | escape }}",
            "blog": {
                "title": "{{ blog.title | escape }}",
                "handle": "{{ blog.handle | escape }}"
            },
            "url": "{{ article.url | escape }}",
            "image": {% if article.image %}"{{ article.image | image_url: width: 800 }}"{% else %}null{% endif %},
            "published_at": "{{ article.published_at | date: '%d %b, %y' }}",
            "author": {{ article.author | json }},
            "tags": {% if article.tags %} [
                {% for tag in article.tags %}
                    "{{ tag | escape }}"
                {% unless forloop.last %},{% endunless %}
            {% endfor %}
            ]{% else %}null{% endif %}
        }
    }
{% endcapture %}
{% assign data = data %}

<div id="react-data" data-injected-props='{{ data | escape | replace: "'", "&#39;" }}'></div>
{% liquid render 'react-block', name: "theme__blog-tile", props: data  %}
