<div class="article-template__content b2 flex flex-col items-{{ block.settings.content_alignment }} justify-{{ block.settings.content_alignment }}"
     style="padding-top:{{ block.settings.padding_top }}px; padding-bottom:{{ block.settings.padding_bottom }}px"
     itemprop="articleBody" {{ block.shopify_attributes }}
>
    {{ article.excerpt }}
</div>
