{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{%- liquid
    assign sort_by = results.sort_by | default: results.default_sort_by
    assign total_active_values = 0
    if results.url
        assign results_url = results.url
    else
        assign terms = results.terms | escape
        assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    endif
-%}

<div class="facets-container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} py-4">
    <facet-filters-form class="facets small-hide w-full flex-auto items-center justify-items-center">
        <form id="FacetFiltersForm" class="facets__form space-x-2">

            {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}

            {% if enable_filtering %}

                {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
                <div id="FacetsWrapperDesktop" class="facets__wrapper w-full flex space-x-4 items-center">
                    {%- if filter_type == 'horizontal' and results.filters != empty -%}
                        <div class="facets__heading b2" id="verticalTitle" tabindex="-1">
                            {{ 'Filter by' }}
                        </div>
                    {%- endif -%}

                    {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
                    {%- for filter in results.filters -%}
                        {% liquid
                            assign total_active_values = total_active_values | plus: filter.active_values.size
                            case filter.presentation
                                when 'swatch'
                                    assign has_visual_display = true
                                    assign show_more_number = 15
                                    assign visual_layout_class = 'facets-layout-grid facets-layout-grid--' | append: filter.presentation
                                else
                                    assign has_visual_display = false
                                    assign visual_layout_class = 'facets-layout-list'
                                    assign show_more_number = 10
                            endcase
                        %}

                        {% case filter.type %}
                            {% when 'boolean', 'list' %}
                                <details
                                        id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                                        class="disclosure-has-popup facets__disclosure js-filter items-center"
                                        data-index="{{ forloop.index }}">
                                    <summary class="facets__summary text-sm" aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})">
                                        <div>
                                        <span class="">
                                          {{- filter.label | escape }}
                                        </span>
                                            {% render 'icons-static', icon:'caret' %}
                                        </div>
                                    </summary>
                                    <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="parent-display facets__display">

                                        <div class="facets__header">
                                            <div>
                                                <span class="facets__selected no-js-hidden">
                                                  {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                                                </span>
                                                {%- if filter.operator == 'AND' -%}
                                                <span class="facets__and-helptext">
                                                    {{ 'Filter Subtitle' }}
                                                  </span>
                                                {%- endif -%}
                                            </div>
                                            <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                                    {{ 'Reset' }}
                                                </a>
                                            </facet-remove>
                                        </div>
                                        <fieldset class="facets-wrap parent-wrap">
                                            <legend class="hidden">{{ filter.label | escape }}</legend>
                                            <ul class="{{ visual_layout_class }} facets__list list-unstyled no-js-hidden" role="list">
                                                {%- liquid
                                                    assign sorted_values = filter.values
                                                    if filter.operator == 'AND'
                                                        assign active_filter_values = filter.values | where: 'active', true
                                                        assign inactive_filter_values = filter.values | where: 'active', false
                                                        assign sorted_values = active_filter_values | concat: inactive_filter_values
                                                    endif
                                                -%}
                                                {%- for value in sorted_values -%}
                                                    {% liquid
                                                        assign is_disabled = false
                                                        if value.count == 0 and value.active == false
                                                            assign is_disabled = true
                                                        endif
                                                    %}

                                                    <li class="list-menu__item facets__item">
                                                        <label for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                                                class="facets__label facet-checkbox{% if is_disabled %} facet-checkbox--disabled disabled{% endif %}{% if has_visual_display %} visual-display-parent visual-display-parent--{{ filter.presentation }}{% endif %}{% if value.active %} active{% endif %} flex items-center">
                                                            <input
                                                                    type="checkbox"
                                                                    name="{{ value.param_name }}"
                                                                    value="{{ value.value }}"
                                                                    id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                                                    {% if value.active %}
                                                                        checked
                                                                    {% endif %}
                                                                    {% if is_disabled %}
                                                                        disabled
                                                                    {% endif %}>

                                                            {% if has_visual_display %}
                                                                <div class="facets__visual-display-wrapper" style="width:25px; height:25px; margin: 0px 10px 0px 0px">
                                                                    {% render 'visual-display',
                                                                            type: value.display.type,
                                                                            value: value.display.value,
                                                                            presentation: filter.presentation
                                                                    %}
                                                                </div>
                                                            {% else %}
                                                                <svg
                                                                        width="1.6rem"
                                                                        height="1.6rem"
                                                                        viewBox="0 0 16 16"
                                                                        aria-hidden="true"
                                                                        focusable="false"
                                                                >
                                                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                </svg>

                                                                <svg
                                                                        aria-hidden="true"
                                                                        class="icon icon-checkmark"
                                                                        width="1.1rem"
                                                                        height="0.7rem"
                                                                        viewBox="0 0 11 7"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                >
                                                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                                                          stroke="currentColor"
                                                                          stroke-width="1.75"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round" />
                                                                </svg>
                                                            {% endif %}

                                                            <span class="facet-checkbox__text" aria-hidden="true">
                                                              {{- value.label | escape }} ({{ value.count }})</span>
                                                                <span class="hidden">
                                                                  {{- value.label | escape }} (
                                                                  {%- if value.count == 1 -%}
                                                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                                                  {%- else -%}
                                                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                                                  {%- endif -%}
                                                                  )
                                                                </span>
                                                        </label>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </fieldset>
                                    </div>
                                </details>

                            {% when 'price_range' %}
                                {% liquid
                                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
                                    assign uses_comma_decimals = false
                                    if currencies_using_comma_decimals contains cart.currency.iso_code
                                        assign uses_comma_decimals = true
                                    endif
                                %}
                                <details
                                        id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                                        class="disclosure-has-popup facets__disclosure js-filter"
                                        data-index="{{ forloop.index }}">
                                    <summary class="facets__summary text-sm">
                                        <div>
                                            <span>{{ filter.label | escape }}</span>
                                            {% render 'icons-static', icon:'caret' %}
                                        </div>
                                    </summary>
                                    <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display">
                                        <div class="facets__header text-sm">
                                            {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                                            <span class="facets__selected">
                                              {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                                            </span>

                                            <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                                    {{ 'products.facets.reset' | t }}
                                                </a>
                                            </facet-remove>
                                        </div>
                                        <price-range class="facets__price flex p-4 items-center space-x-2">
                                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                                            <div class="field">
                                                <input
                                                        class="border border-gray-100 w-full"
                                                        name="{{ filter.min_value.param_name }}"
                                                        placeholder="{{- 'products.facets.from' | t -}}"
                                                        id="Filter-{{ filter.label | escape }}-GTE"
                                                        {%- if filter.min_value.value -%}
                                                            {%- if uses_comma_decimals -%}
                                                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                            {%- else -%}
                                                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                            {%- endif %}
                                                        {%- endif -%}
                                                        type="number"
                                                        placeholder="0"
                                                        min="0"
                                                        {%- if uses_comma_decimals -%}
                                                            max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                        {%- else -%}
                                                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        {% endif %}>
                                            </div>

                                            <span class="field-currency">{{ cart.currency.symbol }}</span>

                                            <div class="field">
                                                <input
                                                        class="border border-gray-100 w-full"
                                                        name="{{ filter.max_value.param_name }}"
                                                        placeholder="To"
                                                        id="Filter-{{ filter.label | escape }}-LTE"
                                                        {%- if filter.max_value.value -%}
                                                            {%- if uses_comma_decimals -%}
                                                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                            {%- else -%}
                                                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                            {%- endif %}
                                                        {%- endif -%}
                                                        type="number"
                                                        min="0"
                                                        {%- if uses_comma_decimals -%}
                                                            placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                            max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                        {%- else -%}
                                                            placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        {% endif %}>
                                            </div>
                                        </price-range>
                                    </div>
                                </details>
                        {% endcase %}
                    {%- endfor -%}
                    <noscript>
                        <button type="submit" class="facets__button-no-js button button--secondary">
                            {{ 'products.facets.filter_button' | t }}
                        </button>
                    </noscript>
                </div>
            {% endif %}

            {% if results.current_vendor or results.current_type %}
                <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
            {% endif %}

            {%- if enable_sorting -%}
                <div class="facet-filters sorting caption w-full">
                    <div class="facet-filters__field flex justify-items-center items-center space-x-2">
                        <div class="facet-filters__label b2">
                            <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                        </div>
                        <div class="select">
                            {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                            <select
                                    name="sort_by"
                                    class="border border-gray-100 w-full p-2 text-sm"
                                    id="SortBy">
                                {%- for option in results.sort_options -%}
                                    <option
                                            value="{{ option.value | escape }}"
                                            {% if option.value == sort_by %}
                                                selected="selected"
                                            {% endif %}
                                    >
                                        {{ option.name | escape }}
                                    </option>
                                {%- endfor -%}
                            </select>
                        </div>
                    </div>
                </div>
            {%- endif -%}

            <div class="product-count light  flex items-center" role="status">
                <span class="product-count__text text-sm relative">
                  <span id="ProductCountDesktop">
                    {%- if results.results_count -%}
                        {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                    {%- elsif results.products_count == results.all_products_count -%}
                        {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                    {%- else -%}
                        {{
                        'products.facets.product_count'
                        | t: product_count: results.products_count, count: results.all_products_count
                        }}
                    {%- endif -%}
                  </span>
                </span>
                {% comment %}{%- render 'loading-spinner' -%}{% endcomment %}
            </div>
        </form>

    </facet-filters-form>

    {% render 'facets-summary', results:results, results_url: results_url %}
</div>