<div class="react-node">
    {%- assign account_block = section.blocks | where: "type", "account_popup" | first  -%}
    {%- assign is_customer_logged_in = 'true' -%}
    {%- assign customer_name = customer.name |  default: customer.email -%}
    {% comment %}{%- assign customer_name = 'John Vella' -%}{% endcomment %}

    {%- if customer == null -%}
        {%- assign is_customer_logged_in = 'false' -%}
    {% endif %}

    {%- capture data -%}
        {
            "is_customer_logged_in": {{ is_customer_logged_in }},
            "customer_name": "{{ customer_name }}",
            "customer_impact": "{% if customer %}{{ customer.metafields.customer.personal_impact }}{% endif %}",
            "trigger": "{{ section.settings.account_popup_trigger }}",
            "container_type": "{{ section.settings.container_type }}",
            "block": {
                "type": "{{ account_block.type | escape }}",
                "settings": {{ account_block.settings | json }},
                "links": [
                {% for link in linklists[account_block.settings.link_list].links %}
                    {
                        "title": "{{ link.title }}",
                        "handle": "{{ link.handle | escape }}",
                        "url": "{{ link.url | escape }}",
                        "links":  [
                            {% if link.links.size > 0 %}
                                {% for sublink in link.links %}
                                    {
                                        "level": 2,
                                        "title": "{{ sublink.title }}",
                                        "handle": "{{ sublink.handle | escape }}",
                                        "url": "{{ sublink.url | escape }}",
                                        "links":  [
                                            {% if sublink.links.size > 0 %}
                                                {% for tertiarylink in sublink.links %}
                                                    {
                                                    "level": 2,
                                                    "title": "{{ tertiarylink.title }}",
                                                    "handle": "{{ tertiarylink.handle | escape }}",
                                                    "url": "{{ tertiarylink.url | escape }}",
                                                    } {% unless forloop.last %},{% endunless %}
                                                {% endfor %}
                                            {% endif %}
                                        ]
                                    } {% unless forloop.last %},{% endunless %}
                                {% endfor %}
                            {% endif %}
                        ]
                    }{% unless forloop.last %},{% endunless %}
                {% endfor %}
                ]
            }
        }
    {% endcapture %}

    {%- assign data = data |  escape  | replace: "'", "&#39;" -%}

    <div
        id="react-data"
        data-injected-props='{{ data }}'
    ></div>

    {% render 'react-block',
        name: "theme__header-account-popup",
        props: data
    %}
</div>
