{% case name %}
  {%- when 'icon-address-book-thin' -%}
    <span class="{{ class }} icon-address-book-thin"></span>
  {%- when 'icon-arrow-circle-down-left-thin' -%}
    <span class="{{ class }} icon-arrow-circle-down-left-thin"></span>
  {%- when 'icon-arrow-circle-down-right-thin' -%}
    <span class="{{ class }} icon-arrow-circle-down-right-thin"></span>
  {%- when 'icon-arrow-circle-down-thin' -%}
    <span class="{{ class }} icon-arrow-circle-down-thin"></span>
  {%- when 'icon-arrow-circle-left-thin' -%}
    <span class="{{ class }} icon-arrow-circle-left-thin"></span>
  {%- when 'icon-arrow-circle-right-thin' -%}
    <span class="{{ class }} icon-arrow-circle-right-thin"></span>
  {%- when 'icon-arrow-circle-up-left-thin' -%}
    <span class="{{ class }} icon-arrow-circle-up-left-thin"></span>
  {%- when 'icon-arrow-circle-up-right-thin' -%}
    <span class="{{ class }} icon-arrow-circle-up-right-thin"></span>
  {%- when 'icon-arrow-circle-up-thin' -%}
    <span class="{{ class }} icon-arrow-circle-up-thin"></span>
  {%- when 'icon-baby-thin' -%}
    <span class="{{ class }} icon-baby-thin"></span>
  {%- when 'icon-book-tabs-thin' -%}
    <span class="{{ class }} icon-book-tabs-thin"></span>
  {%- when 'icon-bookmark' -%}
    <span class="{{ class }} icon-bookmark"></span>
  {%- when 'icon-calendar-dots-thin' -%}
    <span class="{{ class }} icon-calendar-dots-thin"></span>
  {%- when 'icon-calendar-minus-thin' -%}
    <span class="{{ class }} icon-calendar-minus-thin"></span>
  {%- when 'icon-calendar-plus-thin' -%}
    <span class="{{ class }} icon-calendar-plus-thin"></span>
  {%- when 'icon-car-thin' -%}
    <span class="{{ class }} icon-car-thin"></span>
  {%- when 'icon-cardholder-thin' -%}
    <span class="{{ class }} icon-cardholder-thin"></span>
  {%- when 'icon-caret-circle-double-down-thin' -%}
    <span class="{{ class }} icon-caret-circle-double-down-thin"></span>
  {%- when 'icon-caret-circle-double-left-thin' -%}
    <span class="{{ class }} icon-caret-circle-double-left-thin"></span>
  {%- when 'icon-caret-circle-double-right-thin' -%}
    <span class="{{ class }} icon-caret-circle-double-right-thin"></span>
  {%- when 'icon-caret-circle-double-up-thin' -%}
    <span class="{{ class }} icon-caret-circle-double-up-thin"></span>
  {%- when 'icon-caret-circle-down-thin' -%}
    <span class="{{ class }} icon-caret-circle-down-thin"></span>
  {%- when 'icon-caret-circle-left-thin' -%}
    <span class="{{ class }} icon-caret-circle-left-thin"></span>
  {%- when 'icon-caret-circle-right-thin' -%}
    <span class="{{ class }} icon-caret-circle-right-thin"></span>
  {%- when 'icon-caret-circle-up-down-thin' -%}
    <span class="{{ class }} icon-caret-circle-up-down-thin"></span>
  {%- when 'icon-caret-circle-up-thin' -%}
    <span class="{{ class }} icon-caret-circle-up-thin"></span>
  {%- when 'icon-caret-double-down-thin' -%}
    <span class="{{ class }} icon-caret-double-down-thin"></span>
  {%- when 'icon-caret-double-left-thin' -%}
    <span class="{{ class }} icon-caret-double-left-thin"></span>
  {%- when 'icon-caret-double-right-thin' -%}
    <span class="{{ class }} icon-caret-double-right-thin"></span>
  {%- when 'icon-caret-double-up-thin' -%}
    <span class="{{ class }} icon-caret-double-up-thin"></span>
  {%- when 'icon-caret-down-thin' -%}
    <span class="{{ class }} icon-caret-down-thin"></span>
  {%- when 'icon-caret-left-thin' -%}
    <span class="{{ class }} icon-caret-left-thin"></span>
  {%- when 'icon-caret-right-thin' -%}
    <span class="{{ class }} icon-caret-right-thin"></span>
  {%- when 'icon-caret-up-thin' -%}
    <span class="{{ class }} icon-caret-up-thin"></span>
  {%- when 'icon-chat-circle-dots-thin' -%}
    <span class="{{ class }} icon-chat-circle-dots-thin"></span>
  {%- when 'icon-chat-circle-slash-thin' -%}
    <span class="{{ class }} icon-chat-circle-slash-thin"></span>
  {%- when 'icon-chat-circle-thin' -%}
    <span class="{{ class }} icon-chat-circle-thin"></span>
  {%- when 'icon-check-circle-thin' -%}
    <span class="{{ class }} icon-check-circle-thin"></span>
  {%- when 'icon-circle-thin' -%}
    <span class="{{ class }} icon-circle-thin"></span>
  {%- when 'icon-clock-thin' -%}
    <span class="{{ class }} icon-clock-thin"></span>
  {%- when 'icon-columns-thin' -%}
    <span class="{{ class }} icon-columns-thin"></span>
  {%- when 'icon-control-thin' -%}
    <span class="{{ class }} icon-control-thin"></span>
  {%- when 'icon-currency-dollar-thin' -%}
    <span class="{{ class }} icon-currency-dollar-thin"></span>
  {%- when 'icon-currency-eur-thin' -%}
    <span class="{{ class }} icon-currency-eur-thin"></span>
  {%- when 'icon-currency-gbp-thin' -%}
    <span class="{{ class }} icon-currency-gbp-thin"></span>
  {%- when 'icon-cursor-thin' -%}
    <span class="{{ class }} icon-cursor-thin"></span>
  {%- when 'icon-device-mobile-thin' -%}
    <span class="{{ class }} icon-device-mobile-thin"></span>
  {%- when 'icon-dots-three-outline-thin' -%}
    <span class="{{ class }} icon-dots-three-outline-thin"></span>
  {%- when 'icon-dots-three-outline-vertical-thin' -%}
    <span class="{{ class }} icon-dots-three-outline-vertical-thin"></span>
  {%- when 'icon-envelope-simple-thin' -%}
    <span class="{{ class }} icon-envelope-simple-thin"></span>
  {%- when 'icon-facebook-logo-thin' -%}
    <span class="{{ class }} icon-facebook-logo-thin"></span>
  {%- when 'icon-fast-forward-thin' -%}
    <span class="{{ class }} icon-fast-forward-thin"></span>
  {%- when 'icon-folder-simple-thin' -%}
    <span class="{{ class }} icon-folder-simple-thin"></span>
  {%- when 'icon-gear-thin' -%}
    <span class="{{ class }} icon-gear-thin"></span>
  {%- when 'icon-ghost-thin' -%}
    <span class="{{ class }} icon-ghost-thin"></span>
  {%- when 'icon-gif-thin' -%}
    <span class="{{ class }} icon-gif-thin"></span>
  {%- when 'icon-gift-thin' -%}
    <span class="{{ class }} icon-gift-thin"></span>
  {%- when 'icon-globe-hemisphere-west-thin' -%}
    <span class="{{ class }} icon-globe-hemisphere-west-thin"></span>
  {%- when 'icon-heart-thin' -%}
    <span class="{{ class }} icon-heart-thin"></span>
  {%- when 'icon-hourglass-high-thin' -%}
    <span class="{{ class }} icon-hourglass-high-thin"></span>
  {%- when 'icon-house-line-thin' -%}
    <span class="{{ class }} icon-house-line-thin"></span>
  {%- when 'icon-image-broken-thin' -%}
    <span class="{{ class }} icon-image-broken-thin"></span>
  {%- when 'icon-info-thin' -%}
    <span class="{{ class }} icon-info-thin"></span>
  {%- when 'icon-instagram-logo-thin' -%}
    <span class="{{ class }} icon-instagram-logo-thin"></span>
  {%- when 'icon-keyboard-thin' -%}
    <span class="{{ class }} icon-keyboard-thin"></span>
  {%- when 'icon-line-segments-thin' -%}
    <span class="{{ class }} icon-line-segments-thin"></span>
  {%- when 'icon-list-thin' -%}
    <span class="{{ class }} icon-list-thin"></span>
  {%- when 'icon-magnifying-glass-thin' -%}
    <span class="{{ class }} icon-magnifying-glass-thin"></span>
  {%- when 'icon-meta-logo-thin' -%}
    <span class="{{ class }} icon-meta-logo-thin"></span>
  {%- when 'icon-microphone-thin' -%}
    <span class="{{ class }} icon-microphone-thin"></span>
  {%- when 'icon-minus-square-thin' -%}
    <span class="{{ class }} icon-minus-square-thin"></span>
  {%- when 'icon-minus-thin' -%}
    <span class="{{ class }} icon-minus-thin"></span>
  {%- when 'icon-moon-thin' -%}
    <span class="{{ class }} icon-moon-thin"></span>
  {%- when 'icon-number-circle-eight-thin' -%}
    <span class="{{ class }} icon-number-circle-eight-thin"></span>
  {%- when 'icon-number-circle-five-thin' -%}
    <span class="{{ class }} icon-number-circle-five-thin"></span>
  {%- when 'icon-number-circle-four-thin' -%}
    <span class="{{ class }} icon-number-circle-four-thin"></span>
  {%- when 'icon-number-circle-nine-thin' -%}
    <span class="{{ class }} icon-number-circle-nine-thin"></span>
  {%- when 'icon-number-circle-one-thin' -%}
    <span class="{{ class }} icon-number-circle-one-thin"></span>
  {%- when 'icon-number-circle-seven-thin' -%}
    <span class="{{ class }} icon-number-circle-seven-thin"></span>
  {%- when 'icon-number-circle-six-thin' -%}
    <span class="{{ class }} icon-number-circle-six-thin"></span>
  {%- when 'icon-number-circle-three-thin' -%}
    <span class="{{ class }} icon-number-circle-three-thin"></span>
  {%- when 'icon-number-circle-two-thin' -%}
    <span class="{{ class }} icon-number-circle-two-thin"></span>
  {%- when 'icon-paperclip-thin' -%}
    <span class="{{ class }} icon-paperclip-thin"></span>
  {%- when 'icon-pause-thin' -%}
    <span class="{{ class }} icon-pause-thin"></span>
  {%- when 'icon-pencil-thin' -%}
    <span class="{{ class }} icon-pencil-thin"></span>
  {%- when 'icon-phone-thin' -%}
    <span class="{{ class }} icon-phone-thin"></span>
  {%- when 'icon-pinterest-logo-thin' -%}
    <span class="{{ class }} icon-pinterest-logo-thin"></span>
  {%- when 'icon-play-thin' -%}
    <span class="{{ class }} icon-play-thin"></span>
  {%- when 'icon-plus-square-thin' -%}
    <span class="{{ class }} icon-plus-square-thin"></span>
  {%- when 'icon-plus-thin' -%}
    <span class="{{ class }} icon-plus-thin"></span>
  {%- when 'icon-receipt-thin' -%}
    <span class="{{ class }} icon-receipt-thin"></span>
  {%- when 'icon-recycle-thin' -%}
    <span class="{{ class }} icon-recycle-thin"></span>
  {%- when 'icon-repeat-thin' -%}
    <span class="{{ class }} icon-repeat-thin"></span>
  {%- when 'icon-rewind-circle-thin' -%}
    <span class="{{ class }} icon-rewind-circle-thin"></span>
  {%- when 'icon-rewind-thin' -%}
    <span class="{{ class }} icon-rewind-thin"></span>
  {%- when 'icon-seal-percent-thin' -%}
    <span class="{{ class }} icon-seal-percent-thin"></span>
  {%- when 'icon-share-network-thin' -%}
    <span class="{{ class }} icon-share-network-thin"></span>
  {%- when 'icon-shield-check-thin' -%}
    <span class="{{ class }} icon-shield-check-thin"></span>
  {%- when 'icon-shopping-cart-simple-thin' -%}
    <span class="{{ class }} icon-shopping-cart-simple-thin"></span>
  {%- when 'icon-sliders-horizontal-thin' -%}
    <span class="{{ class }} icon-sliders-horizontal-thin"></span>
  {%- when 'icon-speaker-high-thin' -%}
    <span class="{{ class }} icon-speaker-high-thin"></span>
  {%- when 'icon-speaker-low-thin' -%}
    <span class="{{ class }} icon-speaker-low-thin"></span>
  {%- when 'icon-speaker-none-thin' -%}
    <span class="{{ class }} icon-speaker-none-thin"></span>
  {%- when 'icon-speaker-slash-thin' -%}
    <span class="{{ class }} icon-speaker-slash-thin"></span>
  {%- when 'icon-spray-bottle-thin' -%}
    <span class="{{ class }} icon-spray-bottle-thin"></span>
  {%- when 'icon-star-thin' -%}
    <span class="{{ class }} icon-star-thin"></span>
  {%- when 'icon-stop-thin' -%}
    <span class="{{ class }} icon-stop-thin"></span>
  {%- when 'icon-truck-present-thin' -%}
    <span class="{{ class }} icon-truck-present-thin"></span>
  {%- when 'icon-sun-thin' -%}
    <span class="{{ class }} icon-sun-thin"></span>
  {%- when 'icon-trash-thin' -%}
    <span class="{{ class }} icon-trash-thin"></span>
  {%- when 'icon-truck-thin' -%}
    <span class="{{ class }} icon-truck-thin"></span>
  {%- when 'icon-user-circle-thin' -%}
    <span class="{{ class }} icon-user-circle-thin"></span>
  {%- when 'icon-user-thin' -%}
    <span class="{{ class }} icon-user-thin"></span>
  {%- when 'icon-users-four-thin' -%}
    <span class="{{ class }} icon-users-four-thin"></span>
  {%- when 'icon-waves-thin' -%}
    <span class="{{ class }} icon-waves-thin"></span>
  {%- when 'icon-x-circle-thin' -%}
    <span class="{{ class }} icon-x-circle-thin"></span>
  {%- when 'icon-x-logo-thin' -%}
    <span class="{{ class }} icon-x-logo-thin"></span>
  {%- when 'icon-x-thin' -%}
    <span class="{{ class }} icon-x-thin"></span>
  {%- when 'icon-youtube-logo-thin' -%}
    <span class="{{ class }} icon-youtube-logo-thin"></span>
{% endcase %}
