
{% render 'block-id', id: 'theme__elements-product-status' %}

<div class="pdp-stock-status my-4">

    <p class="product__inventory no-js-hidden{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
            {{ block.shopify_attributes }}
            id="Inventory-{{ section.id }}"
            role="status">

    {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
        {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
            {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold -%}
                {% if block.settings.show_indicator %}
                    <svg class="{{ block.settings.indicator_display_type }}" width="15" height="15" aria-hidden="true">
                        <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(238,148,65, 0.3)"/>
                        <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(238,148,65)"/>
                    </svg>
                {% endif %}
                {%- if block.settings.show_inventory_quantity -%}
                    {{- 'products.product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
                {%- else -%}
                    {{- 'products.product.inventory_low_stock' | t -}}
                {%- endif -%}
            {%- else -%}
                {%- if block.settings.show_inventory_quantity -%}
                    {{- 'products.product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity -}}
                {%- else -%}

                    {% render 'react-block', name: "theme__elements-product-status", props: block.settings  %}

                {%- endif -%}
            {%- endif -%}
        {%- else -%}
            {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
                {% if block.settings.show_indicator %}
                    <svg class="{{ block.settings.indicator_display_type }}" width="15" height="15" aria-hidden="true">
                        <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(62,214,96, 0.3)"/>
                        <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
                    </svg>
                {% endif %}
                {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
            {%- else -%}
                {% if block.settings.show_indicator %}
                    <svg class="{{ block.settings.indicator_display_type }}" width="15" height="15" aria-hidden="true">
                        <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(200,200,200, 0.3)"/>
                        <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(200,200,200)"/>
                    </svg>
                {% endif %}
                {{- 'products.product.inventory_out_of_stock' | t -}}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
</p>
</div>
